body{
    background: url("https://images.creativemarket.com/0.1.0/ps/4122032/1820/1213/m1/fpnw/wm1/znr0r9auybge8y5zr4ymwkjpibpwbsb4cqipdgxnorasvnciz1caif428sbivbud-.jpg?1520875031&s=5f1f317b882b0c50fecd28aac72e6186");
background-repeat: no-repeat;
background-size: cover;
}

tr,th,td{
    padding: 13px;
    
}
